{% if session['user'] %}
<ul class="nav justify-content-end">
    
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
    
    
    {% if request.path != url_for('create_graph') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('create_graph') }}">Crear Grafico</a>
    </li>
{% endif %}
{% if request.path != url_for('ranking_graficos') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('ranking_graficos') }}">Ranking</a>
    </li>
{% endif %}
</ul>
{% endif %}