<!DOCTYPE html>
<html>
<head>
    <title>Generador de Gráficos de Gantt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frappe-gantt.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="container">
        <h1>Generador de Gráficos de Gantt</h1>
        <!-- Formulario para agregar tareas -->
        <div class="compact-form">
            <label for="taskName">Nombre de la Tarea:</label>
            <input type="text" id="taskName">

            <label for="startDate">Fecha de Inicio:</label>
            <input type="date" id="startDate">

            <label for="endDate">Fecha de Finalización:</label>
            <input type="date" id="endDate">

            <button onclick="dibujarYGuardarTarea()">Agregar Tarea</button>
        </div>

        <svg id="ganttChart" width="800" height="400"></svg>

        <input type="color" id="colorSelector" style="display: none;">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
    <script src="{{ url_for('static', filename='js/frappe-gantt.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gantt.js') }}"></script>
    
</body>
</html>
